.categoryItem {
  margin-right: 3.5%;
}
.categoryItem:nth-child(3n) {
  margin-right: 0;
}
@media only screen and (min-width: 1024px) {
  .categoryItem,
  .categoryItem:nth-child(3n) {
    width: 18%;
    margin-right: 2.5%;
  }
  .categoryItem:nth-child(5n) {
    margin-right: 0;
  }
}
