.specTabList {
  overflow-x: auto;
  flex-wrap: nowrap;
}

.specTabItem {
  border: 1px solid #000;
}
.specTabList li.active {
  background-color: #000;
}
.specTabItem:hover span,
.specTabItem.active span {
  color: #fff;
}
.tabContentList {
  border-bottom: 1px solid rgba(69, 69, 69, 0.3);
}
.tabContentList:last-child {
  border: none;
}
.paidFeatureList li::before {
  content: "";
  width: 1.4rem;
  height: 1rem;
  background-image: url("/images/detail-page/detail-feature-checkmark.webp");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  filter: invert(1);
}
@media only screen and (min-width: 640px) {
  .carSummeryItem {
    border-left: 1px solid #d9d9d9;
  }
  .carSummeryItem:nth-child(3n) {
    border-right: 1px solid #d9d9d9;
  }
}
@media only screen and (min-width: 1024px) {
  .carSummeryItem:nth-child(3n) {
    border-right: 0;
  }
  .carSummeryItem:nth-child(4n) {
    border-right: 1px solid #d9d9d9;
  }
  .paidFeatureList li::before{
    filter: none;
  }
}
@media only screen and (min-width: 1280px){
  .paidFeatureList li::before{
    width: 2.3rem;
    height: 1.7rem;
  }
}
@media only screen and (min-width: 1440px){
  .paidFeatureList li::before{
    width: 2.6rem;
    height: 2rem;
  }
}
@media only screen and (min-width: 1536px){
  .paidFeatureList li::before{
    width: 3rem;
  }
}
@media only screen and (min-width: 1920px){
  .paidFeatureList li::before{
    width: 3.5rem;
    height: 2.5rem;
  }
}