

.listItem:hover{
    background-color: #000;
  }
  .listItem:hover h3,
  .listItem:hover p{
    color: #fff;
  }
  .listItem:hover img{
    filter: invert(1);
  }
  .mapImageBox{
    opacity: 0;
    transform: translateY(0);
    width: 33rem;
    height: 44rem;
    right: -20rem;
    background-color: #000;
    padding: .5rem .5rem;
    border-radius: 5px;
    visibility: hidden;
    top: 0;
    transition: all 0.3s ease-in;
  }
  
  .listItem:hover .mapImageBox{
    visibility: visible;
    opacity: 1;
  }
  .listItem:hover .mapImageBox img{
    filter: none;
  }
  .listItem:first-child .mapImageBox{
    top: 0;
  }
  .listItem:nth-child(2) .mapImageBox{
    top: -9rem;
  }
  .listItem:nth-child(3) .mapImageBox{
    top: -17rem;
  }
  .listItem:nth-child(4) .mapImageBox{
    top: -26rem;
  }
  .listItem:nth-child(5) .mapImageBox{
    top: -32rem;
  }